{% set block = __SELF__.property('data') %}
{% set block_identifier = __SELF__.property('block_identifier') %}
{% set block_unique_class = __SELF__.property('block_unique_class') %}
{% set data = block.content %}

{% if not data.isVideoBg %}
    {% put addStyles %}
        {% if data.image %}
            .{{ block_unique_class }} {
                background-image: {{ data.image | imageset(1920,1080) }};
            }
        {% endif %}

        {% if data.imageMobile %}
            @media (max-width: 991px) {
                .{{ block_unique_class }} {
                    background-image: {{ data.imageMobile | imageset(991,1200) }};
                }
            }
        {% endif %}
    {% endput %}
{% endif %}

<div class="Header {{ data | moduleMods('Header', ['fullHeight', 'contrast', 'isVideoBg']) }} {{ block_identifier }}">
    {% if data.isVideoBg %}
        <video class="Header-video" src="{{ data.image | media }}" {% if data.imageMobile %}poster="{{ data.imageMobile | media }}"{% endif %} autoplay muted playsinline loop></video>
    {% endif %}
    {% if data.overlay %}
        <div class="Header-overlay"></div>
    {% endif %}
    <div class="Header-container">
        <div class="Header-content">
            <div class="Headline">
                {{ block.headline | spacer | content }}
            </div>
            <div class="Buttons">
                {% for i in 1..2 %}
                    {% set button = {
                        link: data['buttonLink' ~ i],
                        label: data['buttonLabel' ~ i],
                        contrast: data['buttonContrast' ~ i],
                        outline: data['buttonOutline' ~ i],
                    } %}

                    {% if button.link and button.label %}
                        <a href="{{ button.link | link }}" class="Button {{ button | moduleMods('Button', ['contrast', 'outline']) }}">
                            {{ button.label }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
