.Header {
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 7rem 0;
    box-sizing: border-box;

    &-overlay {
        background-color: rgba(0,0,0,.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &-content {
        text-align: center;
        position: relative;
        z-index: 5;
    }

    &-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
}

.Header--fullHeight {
    height: calc(100vh - var(--spacing-navbar));
}

.Body--transparentNav {
    .Header--fullHeight {
        height: 100vh;
    }
}

.Header--contrast {
    color: var(--color-text-contrast);
}
