<h3>Návod na zprovoznění Instagram feedu</h3>

<ol>
    <li>
        Vytvořte si aplikaci na <a href="https://developers.facebook.com/apps/" target="_blank" rel="noopener">Facebook Developers</a>.
    </li>
    <li>
        Vyplňte jméno aplikace, kontaktní email.
    </li>
    <li>
        V "Use Case" vyberte "Manage messaging & content on Instagram".
    </li>
    <li>
        Zaškrtněte "I don't want business portfolio yet"
    </li>
    <li>
        "Go to dashboard"
    </li>
    <li>
        Vlevo dole klikněte na "App roles -> Roles".
    </li>
    <li>
        Vpravo nahoře "Add people" a vyberte "Instagram tester". Vyplňte username Instagram účtu, ze kterého chcete feed čerpat a dejte "Add"
    </li>
    <li>
        V seznamu se objeví přidaný uživatel. U něj klikněte na "Apps and Websites" odkaz.
    </li>
    <li>
        Otevře se nové okno Instagramu. Přihlaste se do Instagram účtu. Klikněte na "Accept" v záložce "Tester invites" pro povolení přístupu aplikace k Instagram účtu.
    </li>
    <li>
        Vraťte se do Facebook Developers a v levém menu klikněte na "Use cases -> Customize".
    </li>
    <li>
        Klikněte na 1. "Add all required permissions".
    </li>
    <li>
        Rozbalte bod 2. "Generate Access token" a klikněte na "Add Account".
    </li>
    <li>
        Přihlašte se do Instagram účtu ze kterého chcete tahat feed a povolte přístup.
    </li>
    <li>
        Instagram účet musí být převeden na "Professional" účet (Business nebo Creator). Pokud již není, proveďte tento krok nyní.
    </li>
    <li>
        Po povolení přístupu se vraťte zpět do Facebook Developers a klikněte na "Generate Token".
    </li>
    <li>
        Zkopírujte vygenerovaný token a vložte ho do nastavení komponenty InstaFeed ve vašem webu.
    </li>
</ol>
