<div>
    <div class="control-list">
        <table class="table data">
            <thead>
            <tr>
                <th><span>Pole</span></th>
                <th><span>Hodnota</span></th>
            </tr>
            </thead>
            <tbody>
            {% for answer in model.answers %}
                <tr>
                    <td>{{ answer.label ?: answer.name }}</td>
                    <td>
                        {% if answer.content_group == 'file' %}
                            {% for file in answer.files %}
                                <a href="{{ file.path }}" target="_blank">{{ file.file_name }}</a>{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        {% else %}
                            {{ answer.value | nl2br }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
