<div>
    {% set data = value | json_decode %}

    {% set rfgBaseUrl = 'https://realfavicongenerator.net/api/favicon_generator' %}
    {% set query = {
        "favicon_generation": {
            "api_key": env('RFG_API_KEY'),
            "master_picture": {
                "type": "url",
                "url": "https://hub.mathemi.de/themes/mathemi/assets/media/favicon.png",
                "demo": "false"
            },
            "files_location": {
                "type": "path",
                "path": "/storage/app/media/favicon",
            },
            "callback": {
                "type": "url",
                "url": env('RFG_CALLBACK_URL'),
                "short_url": "false",
                "path_only": "false",
                "custom_parameter": "ref=" ~ env('RFG_REF_PARAM')
            }
        }
    } | json_encode %}

    <div class="control-list">
        <div class="alert alert-info">
            Před generováním faviconů prosím nejdříve nahrajte obrázek, který se má použít pro generování a poté <strong>!ULOŽTE!</strong><br>
            Po vygenerování faviconů je potřeba je <strong>!ULOŽIT!</strong> znovu.
        </div>

        <a href="{{ rfgBaseUrl }}?json_params={{ query | url_encode }}" type="button" class="btn btn-primary">Generovat</a>
    </div>
</div>

<script>
    setTimeout(() => {
        const faviconHtml = document.querySelector('#Form-field-EntryRecord-faviconHtml');

        faviconHtml.value = decodeURI(new URL(window.location.href).searchParams.get('html_code'));
    }, 1000);
</script>
