<div>
    {% set data = value | json_decode %}
    {% set faviconPath = model.favicon | media %}

    {% set rfgBaseUrl = 'https://realfavicongenerator.net/api/favicon_generator' %}
    {% set query = {
        "favicon_generation": {
            "api_key": env('RFG_API_KEY'),
            "master_picture": {
                "type": "no_picture",
                "url": faviconPath,
                "demo": "false"
            },
            "files_location": {
                "type": "path",
                "path": "/storage/app/media/favicon",
            },
            "callback": {
                "type": "url",
                "url": env('RFG_CALLBACK_URL'),
                "short_url": "false",
                "path_only": "false",
                "custom_parameter": "ref=" ~ env('RFG_REF_PARAM')
            }
        }
    } | json_encode %}

    <div class="control-list">
        <a href="{{ rfgBaseUrl }}?json_params={{ query | url_encode }}" type="button" class="btn btn-primary">Generovat</a>
    </div>
</div>

<script>
    setTimeout(() => {
        const params = new URL(window.location.href).searchParams;

        if (params.has('html_code')) {
            const faviconHtml = document.querySelector('[name="EntryRecord[faviconHtml]"]');

            faviconHtml.value = decodeURI(new URL(window.location.href).searchParams.get('html_code'));

            oc.ajax('onSave');
        }

    }, 1000);
</script>
