{% set block = __SELF__.property('data') %}
{% set data = block.content %}

<section class="Flex">
    {% if block.headline %}
        <div class="Flex-container">
            <div class="Flex-col">
                <div class="Headline">
                    {{ block.headline | content }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="Flex-container Flex-container--columns">
        {% for column in data.columns %}
            <div class="Flex-col">
                {% set c = loop.index0 %}
                {% for block in column.builder %}
                    <div id="{{ block.blockId }}">
                        {% component block.content_group ~ 'Column' ~ c ~ 'Block' ~ loop.index0 data=block %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
