{% set block = __SELF__.property('data') %}
{% set data = block.content %}

<div class="Section">
    <div class="Flex">
        {% if block.headline %}
            <div class="Flex-container">
                <div class="Flex-col">
                    <div class="Headline">
                        {{ block.headline | content }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="Flex-container">
            <div class="Flex-col">
                <div class="Tiles Tiles--columns{{ data.count }}">
                    {% for tile in data.tiles %}
                        {% if data.tileLink %}
                            {% partial '@link-tile' %}
                        {% else %}
                            {% partial '@tile' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
