<div class="Tiles-tile {{ data | moduleMods('Tiles-tile', ['contrastHover', 'contrastBorderHover', 'outline', 'borderless']) }}">
    {% if data.tileIcon %}
        <div class="Tiles-icon">
            {{ tile.image | svg | raw }}
        </div>
    {% elseif tile.image %}
        <div class="Tiles-image" style="background-image: url({{ tile.image | media }})"></div>
    {% endif %}
    <div class="Tiles-body">
        <h3 class="Headline">{{ tile.headline }}</h3>
        <div class="Content">
            {{ tile.text | content }}
        </div>
    </div>
    {% if tile.linkUrl and tile.linkText %}
        <div class="Tiles-button">
            <a href="{{ tile.linkUrl | link }}" class="Button {{ data.buttonStyle }}">{{ tile.linkText }}</a>
        </div>
    {% endif %}
</div>
