{% set block = __SELF__.property('data') %}
{% set data = block.content %}

{% set options = {
    someOptions: 'someValue'
} | json_encode %}

<div class="Section" data-control="form" data-options='{{ options | escape() | raw }}'>
    <div class="Flex">
        <div class="Flex-container">
            <div class="Flex-col">
                {% set formClass = 'Form Form--' ~ data.variant %}
                {% set formId = 'frameworc-form-' ~ data.id %}
                {{ form_ajax(__SELF__ ~ '::onSubmit', {flash: true, validate: true, class: formClass, id: formId, files: true, novalidate: true}) }}
                    {% if block.headline %}
                        <div class="Headline">
                            {{ block.headline | spacer | content }}
                        </div>
                    {% endif %}
                    <div id="frameworc-form-error-{{ data.id }}"></div>
                    <input type="hidden" name="_form_id" value="{{ data.id }}">
                    <input type="hidden" name="_form_true_id" value="{{ block.form.id }}">

                    <div class="Form-group">
                        {% for field in block.form.fwcFields %}
                            {% set template = '@fields/' ~ field.content_group %}

                            <div class="Form-control Form-control--{{ field.width ? field.width : 'full' }}" data-form-field="{{ field.name }}">
                                {% partial template %}
                                <div class="Form-error" data-validate-for="{{ field.name }}"></div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="Form-group">
                        {% if data.variant == 'outline' %}
                            <button type="submit" class="Button Button--outline" data-attach-loading>
                                {{ 'form.submit'|_ }}
                            </button>
                        {% else %}
                            <button type="submit" class="Button Button--contrast" data-attach-loading>
                                {{ 'form.submit'|_ }}
                            </button>
                        {% endif %}

                        <altcha-widget
                            challengeurl="/api/captcha"
                            auto="onload"
                            hidefooter
                            hidelogo
                            strings='{
                                "ariaLinkLabel": "{{ 'form.captcha.ariaLinkLabel'|_ }}",
                                "error": "{{ 'form.captcha.error'|_ }}",
                                "expired": "{{ 'form.captcha.expired'|_ }}",
                                "footer": "{{ 'form.captcha.footer'|_ }}",
                                "label": "{{ 'form.captcha.label'|_ }}",
                                "verified": "{{ 'form.captcha.verified'|_ }}",
                                "verifying": "{{ 'form.captcha.verifying'|_ }}",
                                "waitAlert": "{{ 'form.captcha.waitAlert'|_ }}"
                            }'
                        ></altcha-widget>
                    </div>
                {{ form_close() }}
            </div>
        </div>
    </div>
</div>
