{% set options = {
    id: blockId,
    perView: data.perView ? data.perView : 1,
    gap: data.gap ? data.gap : 30,
    startIndex: data.startIndex ? data.startIndex : 0,
    syncTranslate: data.syncTranslate ? true : false,
    loop: data.loop ? true : false,
    autoplay: data.autoplay ? data.autoplay : false,
    focusedSlidePosition: data.focusedSlidePosition ? data.focusedSlidePosition : "left",
    syncWith: data.syncWith ? data.syncWith : '',
} %}

<div class="Section" data-control="slider" data-options='{{ options | json_encode | escape() | raw }}' id="frameworc-slider-{{ data.id }}">
    <div class="Flex">
        <div class="Flex-container">
            <div class="Slider">
                <div class="Slider-arrows">
                    <button class="Slider-arrow Slider-arrow--prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>
                    </button>
                    <button class="Slider-arrow Slider-arrow--next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/></svg>
                    </button>
                </div>
                <div class="Slider-container">
                    <div class="Slider-track">
                        {% for slide in data.slides %}
                            <div class="Slider-slide">
                                <div class="Slider-image">
                                    <img src="{{ slide.image | media | resize(null, 400) }}" alt="{{ slide.headline }}" draggable="false" />
                                </div>
                                <div class="Slider-content">
                                    <h3 class="Headline">
                                        {{ slide.headline }}
                                    </h3>
                                    <div class="Content">
                                        {{ slide.text | content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="Slider-dots">
                    {% for slide in data.slides %}
                        <button class="Slider-dot" tabindex="-1" data-slide="{{ loop.index0 }}"></button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.fwcSliderIds = window.fwcSliderIds || [];

    window.fwcSliderIds.push({
        id: 'frameworc-slider-{{ data.id }}',
        options: {
            perView: {{ data.perView ? data.perView : 1 }},
            gap: {{ data.gap ? data.gap : 30 }},
            startIndex: {{ data.startIndex ? data.startIndex : 0 }},
            focusedSlidePosition: "{{ data.focusedSlidePosition ? data.focusedSlidePosition : 'left' }}",
            syncWith: "{{ data.syncWith ? data.syncWith : '' }}",
            syncTranslate: {{ data.syncTranslate ? 'true' : 'false' }},
            loop: {{ data.loop ? 'true' : 'false' }},
            autoplay: {{ data.autoplay ? data.autoplay : 'false' }},
        }
    });
</script>
