{% set sliderId1 = blockId ~ "-first" %}
{% set sliderId2 = blockId ~ "-second" %}

{% set options1 = {
    perView: data.perView ? data.perView : 1,
    gap: 0,
    startIndex: data.startIndex ? data.startIndex : 0,
    syncTranslate: true,
    loop: data.loop ? true : false,
    autoplay: data.autoplay ? data.autoplay : false,
    arrows: false,
    dots: false,
    focusedSlidePosition: "left",
    syncWith: sliderId2,
    id: sliderId1,
} %}

{% set options2 = {
    perView: data.perView ? data.perView : 1,
    gap: data.gap ? data.gap : 30,
    startIndex: data.startIndex ? data.startIndex : 0,
    syncTranslate: true,
    loop: data.loop ? true : false,
    autoplay: data.autoplay ? data.autoplay : false,
    focusedSlidePosition: "left",
    syncWith: sliderId1,
    id: sliderId2,
} %}

<div class="Section">
        <div class="Flex">
            {% if block.headline %}
                <div class="Flex-container">
                    <div class="Flex-col">
                        <div class="Headline">
                            {{ block.headline | content }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="Flex-container Flex-container--sliderDouble">
                <div class="Flex-col Flex-col50" id="{{ sliderId1 }}" data-control="slider" data-options='{{ options1 | json_encode | escape | raw }}'>
                    <div class="Slider Slider--double Slider--doubleImage">
                        <div class="Slider-container">
                            <div class="Slider-track">
                                {% for slide in data.slides %}
                                    <div class="Slider-slide">
                                        <div class="Slider-image">
                                            <img src="{{ slide.image | media | resize(450, 400, {mode: 'crop'}) }}" alt="{{ slide.headline }}" draggable="false" />
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Flex-col Flex-col50" id="{{ sliderId2 }}" data-control="slider" data-options='{{ options2 | json_encode | escape | raw }}'>
                    <div class="Slider Slider--double">
                        <div class="Slider-container">
                            <div class="Slider-track">
                                {% for slide in data.slides %}
                                    <div class="Slider-slide">
                                        <div class="Slider-content">
                                            <h3 class="Headline">
                                                {{ slide.headline }}
                                            </h3>
                                            <div class="Content">
                                                {{ slide.text | content }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="Slider-arrows">
                            <button class="Slider-arrow Slider-arrow--prev">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>
                            </button>
                            <button class="Slider-arrow Slider-arrow--next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/></svg>
                            </button>
                        </div>
                        <div class="Slider-dots">
                            {% for slide in data.slides %}
                                <button class="Slider-dot" tabindex="-1" data-slide="{{ loop.index0 }}"></button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
