.InstaFeed {
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: var(--spacing-grid-gap);
        margin-top: 2rem;

        @for $i from 1 through 6 {
            &.isColumns-#{$i} {
                grid-template-columns: repeat(#{$i}, 1fr);
            }
        }
    }

    &-item {
        border-radius: var(--border-radius-img);
        background-size: cover;
        background-position: center center;
        padding-top: 100%;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            z-index: 1;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    &-item--video {
        background-size: 100% auto;

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    &-item--text {
        display: flex;
        align-items: center;
        padding-top: 0;

        .Headline h2 {
            font-size: 30px;
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    .InstaFeed-grid {
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        grid-gap: 2rem;
    }
}
