{% set nav = __SELF__.getNav() %}
{% set availableSites = sitePicker.sites %}

{% set menuStyle = record.menuStyle %}

{% if not record.menuStyle %}
    {% set menuStyle = 'solid' %}
{% endif %}

<div class="Navigation Navigation--{{ menuStyle }} Navigation--desktop" data-control="navigation">
    <div class="Flex">
        <div class="Flex-container Flex-container--justifyBetween Flex-container--stretch">
            <div class="Navigation-brand">
                <img src="{{ nav.logo | media }}" alt="" class="Navigation-logo">
            </div>
            {% partial '@desktop' %}
            {% partial '@hamburger' %}
        </div>
    </div>
    {% partial '@mobile' %}
</div>

