<div class="Navigation-menu Navigation-menu--desktop">
    {% for item in menu %}
        {% if not item.parent_id %}
            <div class="Navigation-itemWrapper">
                <a href="{{ item.url | link }}" class="Navigation-item" {% if item.blank %}target="_blank"{% endif %}>
                    {{ item.title }}
                    {% if item.children %}
                        <span class="Navigation-itemIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/></svg>
                        </span>
                    {% endif %}
                </a>
                {% if item.children %}
                    <div class="Navigation-subNavWrapper">
                        <div class="Navigation-subNav">
                            {% for child in item.children %}
                                <a href="{{ child.url | link }}" class="Navigation-item Navigation-item--child" {% if child.blank %}target="_blank"{% endif %}>
                                    {{ child.title }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    {% partial '@sitepicker' %}
</div>
