{% if sitePicker.sites | length > 1 %}
    <div class="Navigation-itemWrapper Navigation-itemWrapper--sitePicker">
        <a href="#" class="Navigation-item">
            {{ this.site.name }}
            <span class="Navigation-itemIcon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/></svg>
            </span>
        </a>
        <div class="Navigation-subNavWrapper">
            <div class="Navigation-subNav">
                {% for site in sitePicker.sites %}
                    {% if this.site.code != site.code %}
                        <a href="{{ site.url }}" class="Navigation-item Navigation-item--child" title="{{ site.name }}">
                            {{ site.name }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
