{% set post = __SELF__.post()  %}

{% if not post %}
    {% partial '404' %}
{% else %}
    <div class="Section">
        <div class="Flex">
            <div class="Flex-container">
                <div class="BlogPost">
                    <div class="BlogPost-header">
                        <img src="{{ post.image | media | resize(1200,600, {mode: 'crop'}) }}" srcset="{{ post.image | srcset(1200,600) }}" alt="">
                        <h1 class="Headline">{{ post.title }}</h1>
                        <p class="BlogPost-date">{{ post.published_at|date('M d, Y') }}</p>
                    </div>
                    <div class="Content">
                        {{ post.content | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if post.downloads | length > 0 %}
        <div class="Section">
            <div class="Flex">
                <div class="Flex-container">
                    <h2 class="Headline">{{ 'blog.downloads_headline'|_ }}</h2>
                </div>
                {% partial 'Downloads::list' data=post.downloads %}
            </div>
        </div>
    {% endif %}

    {% if post.gallery | length > 0 %}
        <div class="Section">
            <div class="Flex">
                <div class="Flex-container">
                    <h2 class="Headline">{{ 'blog.gallery_headline'|_ }}</h2>
                </div>
                {% partial 'Gallery::grid' data=post.gallery %}
            </div>
        </div>
    {% endif %}
{% endif %}

