.Gallery {
    &-imageHolder {
        display: none;
    }

    &-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 calc(var(--spacing-grid-gap) / -2);
    }

    &-column {
        box-sizing: border-box;
    }

    &-image {
        transition: all .3s;
        width: 100%;

        &:hover {
            filter: brightness(0.8);
        }
    }

    &-imageWrapper {
        padding: calc(var(--spacing-grid-gap) / 2);
        width: 100%;
        box-sizing: border-box;
        animation: fadeIn 1s;

        &:not(:has(img)) {
            display: none;
        }
    }

    &-wrapper {
        overflow: hidden;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 250px;
            background: linear-gradient(transparent 0%, var(--color-bg-base) 90%);
            z-index: 1;
        }
    }

    &-wrapper--fewImages, &-wrapper--allImages {
        height: auto !important;

        &::after, & + .Gallery-button {
            display: none;
        }
    }

    &-button {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .Gallery {
        &-container {
            flex-direction: column;
        }

        &-column {
            flex: 0 0 100% !important;
            width: 100%;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
