{% set block = __SELF__.property('data') %}
{% set data = block.content %}

{% set options = {
    intervalDelay: data.intervalDelay,
    stopOnHover: data.stopOnHover,
} | json_encode %}

<div class="Section" {% if data.autoScroll %}data-control="imageStrip" data-options='{{ options | escape() | raw }}'{% endif %}>
    <div class="Flex">
        <div class="Flex-container">
            <div class="Flex-col">
                <div class="ImageStrip-wrapper">
                    <div class="ImageStrip-container ImageStrip-container--{{ data.centered ? 'centered' : 'basic' }}">
                        {% for image in data.images %}
                            <img src="{{ image | media | resize(null, 80) }}" alt="" class="ImageStrip-image">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
