{% set block = __SELF__.property('data') %}
{% set data = block.content %}

{% set options = { stopOnHover: data.stopOnHover ? true : false } %}

{# An emptied field would override the JS default with null (a ~0 ms interval) #}
{% if data.intervalDelay is not same as(null) and data.intervalDelay is not same as('') %}
    {% set options = options | merge({ intervalDelay: data.intervalDelay }) %}
{% endif %}

{% set options = options | json_encode %}

<div class="Section" {% if data.autoScroll %}data-control="imageStrip" data-options='{{ options | escape() | raw }}'{% endif %}>
    <div class="Flex">
        {% if block.headline %}
            <div class="Flex-container">
                <div class="Flex-col">
                    <div class="Headline">
                        {{ block.headline | spacer | content }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="Flex-container">
            <div class="Flex-col">
                <div class="ImageStrip-wrapper">
                    <div class="ImageStrip-container ImageStrip-container--{{ data.centered ? 'centered' : 'basic' }}">
                        {% for image in data.images %}
                            <img src="{{ image | media | resize(null, 80) }}" alt="" class="ImageStrip-image">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
