{% set nav = Footer.getNav() %}
{% set menu = Footer.getMenu(nav.nav.navigation) %}

<footer class="Footer">
    <div class="Flex">
        <div class="Flex-container">
            <div class="Flex-col">
                <img src="{{ nav.logo | media }}" alt="ASIDO">
            </div>
            <div class="Flex-col">
                <div class="Footer-navWrapper">
                    {% for item in menu %}
                        {% if not item.parent_id %}
                            <div class="Footer-nav">
                                <a href="{{ item.url | link }}" class="Footer-item">{{ item.title }}</a>
                                {% if item.children | length > 0 %}
                                    {% for child in item.children %}
                                        <a href="{{ child.url | link }}" class="Footer-item Footer-item--child">{{ child.title }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="Flex-col">
                <div class="Footer-content">
                    {{ nav.text | content }}
                </div>
            </div>
        </div>
    </div>
</footer>
