{% set nav = Footer.getNav() %}
{% set menu = Footer.getMenu(nav.nav[0].navigation) %}

<footer class="Footer">
    {% if nav.showNewsletterForm %}
        <div class="Flex">
            <div class="Flex-container">
                <div class="Flex-col">
                    <div class="Footer-newsletter">
                        <div class="Footer-newsletterContent">
                            <h2 class="Footer-newsletterTitle">{{ 'footer.newsletter.title'|_ }}</h2>
                            <p class="Footer-newsletterText">{{ 'footer.newsletter.text'|_ }}</p>
                        </div>
                    </div>
                </div>
                <div class="Flex-col">
                    <div class="Footer-newsletterForm">
                        {% component '@newsletterForm' %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="Flex">
        <div class="Flex-container">
            <div class="Flex-col">
                <img src="{{ nav.logo | media }}" class="Footer-logo">
            </div>
            <div class="Flex-col">
                <div class="Footer-navWrapper">
                    {% for item in menu %}
                        {% if not item.parent_id %}
                            <div class="Footer-nav">
                                <a href="{{ item.url | link }}" class="Footer-item">{{ item.title }}</a>
                                {% if item.children | length > 0 %}
                                    {% for child in item.children %}
                                        <a href="{{ child.url | link }}" class="Footer-item Footer-item--child">{{ child.title }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="Flex-container">
            <div class="Flex-col">
                <div class="Footer-content">
                    {{ nav.text | spacer | content }}
                    <div class="Footer-bottom">
                        <div class="Footer-madeBy">&copy; {{ 'now'|date('Y') }} {{ nav.madeBy }} <a href="https://crs-company.cz">CRS a.s.</a></div>
                        <div class="Footer-socials">
                            {{ nav.stayInTouch }}
                            {% for social in nav.socials %}
                                <a href="{{ social.url }}" class="Footer-social" target="_blank" rel="noopener noreferrer">
                                    {% set partialName = 'icons/socials/' ~ social.site %}
                                    {% partial partialName %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
