.Footer {
    border-top: 2px solid var(--color-accent);
    padding-top: var(--spacing-section);
    padding-bottom: var(--spacing-section);

    &-logo {
        width: 200px;
        height: 80px;
        box-shadow: none;
        border-radius: 0;
    }

    &-navWrapper {
        display: flex;
        justify-content: flex-end;
        gap: 4rem;
    }

    &-nav {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        flex-wrap: wrap;
    }

    &-itemWrapper {
        display: flex;
        gap: 1.3rem;
        flex-direction: column;
    }

    &-subNav {
        display: flex;
        flex-direction: column;
        gap: .7rem;
    }

    &-navItem {
        text-decoration: underline;
        color: var(--color-primary);
        font-size: 16px;
        font-weight: 500;
        transition: all ease .3s;

        &:hover {
            color: var(--color-primary-accent);
            text-decoration: none;
        }
    }

    &-navItem--child {
        font-weight: 400;
        color: var(--color-text-base);
        transition: all ease .3s;

        &:hover {
            color: var(--color-primary-accent);
            text-decoration: none;
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-socials {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
    }

    &-social {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 30px;
            height: 30px;

            path {
                transition: all ease .2s;
                fill: var(--color-text-base);
            }
        }

        &:hover {
            svg {
                path {
                    opacity: .7;
                }
            }
        }
    }

    .Content {
        p:first-child {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .Flex-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 991px) {
    .Flex-container--footerNav {
        margin-bottom: var(--spacing-gap);
    }

    .Footer {
        &-nav, &-navWrapper {
            flex-direction: column;
        }

        &-navWrapper {
            gap: 1rem;
        }

        &-itemWrapper {
            gap: 1rem;
        }

        .Flex {
            &-container {
                flex-direction: column;
                align-items: flex-start;
            }

            &-col {
                flex: 1 0 100%;
                width: 100%;
            }
        }
    }
}
