{% set block = __SELF__.property('data') %}
{% set data = block.content %}

{% set uniqueId = str_slug(block.blockId) ~ block.id %}

{% set posts = __SELF__.posts(data.perPage, uniqueId, data.pagination) %}

{% set tags = __SELF__.getTags() %}

<div class="Section">
    <div class="Flex">
        {% if block.headline %}
            <div class="Flex-container">
                <div class="Flex-col">
                    <div class="Headline">
                        {{ block.headline | spacer | content }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="Flex-container">
            <div class="Flex-col">
                <div class="BlogList-categories">
                    <a href="?">{{ 'blog.all_categories'|_ }}</a>
                    {% for tag in tags %}
                        <a href="?t={{ tag.slug }}" class="BlogList-category">{{ tag.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="Flex-container">
            <div class="Flex-col">
                <div class="BlogList BlogList--columns{{ data.count }}" id="blog-wrapper-{{ uniqueId }}">
                    {% partial '@post-items' posts=posts.items %}
                </div>
                {% if data.pagination %}
                    <div class="BlogList-pagination" id="blog-load-more-wrapper-{{ uniqueId }}">
                        {% ajaxPartial '@post-load-more' posts=posts %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
