{% for post in posts %}
    <a href="{{ getBlogPath(meta, post.slug) }}" class="BlogList-item">
        <div class="BlogList-itemImage">
            <img src="{{ post.image | media | resize(500,300, {mode: 'crop'}) }}" srcset="{{ post.image | srcset(500,300) }}" alt="{{ post.title }}" />
        </div>
        <div class="BlogList-itemContent">
            <h2 class="Headline">
                {{ post.title }}
            </h2>
            <div class="BlogList-itemDate">
                {{ post.published_at_date|date('d.m.Y') }}
            </div>
            <div class="BlogList-itemTags">
                {% for tag in post.tags %}
                    <span class="BlogList-itemTag">
                        {{ tag.title }}
                    </span>
                {% endfor %}
            </div>
            <div class="BlogList-itemExcerpt">
                {{ post.perex }}
            </div>
        </div>
        <div class="BlogList-itemReadMore">
            {{ 'blog.read_more'|_ }}
        </div>
    </a>
{% else %}
    <div class="BlogList-empty">
        {{ 'blog.no_posts'|_ }}
    </div>
{% endfor %}
