{% set block = __SELF__.property('data') %}
{% set data = block.content %}
{% set variant = '@' ~ data.variant %}

{%
    set vars = {
        '@halfAndHalf': {
            imgDimensions: {w: 800, h: 600},
        },
        '@img70': {
            imgDimensions: {w: 800, h: 600},
        },
        '@text70': {
            imgDimensions: {w: 800, h: 600},
        },
        '@noText': {
            imgDimensions: {w: 1200, h: 800},
        }
    }
%}

{% set imgDimensions = vars[variant].imgDimensions %}

{% partial variant %}
