<div class="Section {{ data | moduleMods('Section', ['accent', 'contrast', 'narrow']) }}">
    <div class="Flex {{ data.reverse ? 'Flex--reverse' : '' }}">
        <div class="Flex-container">
            <div class="Flex-col">
                {% if block.headline %}
                    <div class="Headline">
                        {{ block.headline | spacer | content }}
                    </div>
                {% endif %}

                {% partial '@_buttons' %}
            </div>

            <div class="Flex-col {{ data.noText ? '' : 'Flex-col70' }}">
                <img src="{{ data.image | media | resize(imgDimensions.w, imgDimensions.h, {mode: 'crop'}) }}" {{ data.image | srcset(imgDimensions.w, imgDimensions.h, 'landscape') }} alt="{{ data.headline }}" />
            </div>
        </div>
    </div>
</div>
