{% set colClass = 'Flex-col Flex-col50' %}
{% if data.noText or data.noImage %}
    {% set colClass = 'Flex-col' %}
{% endif %}

<div class="Section {{ data | moduleMods('Section', ['accent', 'contrast', 'narrow', 'backgroundImage']) }}">
    <div class="Flex {{ data.reverse ? 'Flex--reverse' : '' }}">
        <div class="Flex-container">
            {% if not data.noText %}
                <div class="{{ colClass }}">
                    {% if block.headline %}
                        <div class="Headline">
                            {{ block.headline | spacer | content }}
                        </div>
                    {% endif %}
                    <div class="Buttons">
                        {% for i in 1..2 %}
                            {% set button = {
                                link: data['buttonLink' ~ i],
                                label: data['buttonLabel' ~ i],
                                contrast: data['buttonContrast' ~ i],
                                outline: data['buttonOutline' ~ i],
                            } %}

                            {% if button.link and button.label %}
                                <a href="{{ button.link | link }}" class="Button {{ button | moduleMods('Button', ['contrast', 'outline']) }}">
                                    {{ button.label }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if data.doubleText %}
                <div class="{{ colClass }}">
                    {% if data.headline2 %}
                        <div class="Headline">
                            {{ data.headline2 | spacer | content }}
                        </div>
                    {% endif %}
                    <div class="Buttons">
                        {% for i in 3..4 %}
                            {% set button = {
                                link: data['buttonLink' ~ i],
                                label: data['buttonLabel' ~ i],
                                contrast: data['buttonContrast' ~ i],
                                outline: data['buttonOutline' ~ i],
                            } %}

                            {% if button.link and button.label %}
                                <a href="{{ button.link | link }}" class="Button {{ button | moduleMods('Button', ['contrast', 'outline']) }}">
                                    {{ button.label }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% elseif not data.noImage %}
                <div class="{{ colClass }}"
                     {% if data.backgroundImage %}style="background-image: {{ data.image | imageset(imgDimensions.w, imgDimensions.h, 'landscape') }}"{% endif %}>
                    {% if data.noText %}
                        <div class="Headline">
                            {{ block.headline | spacer | content }}
                        </div>
                    {% endif %}
                    {% if not data.backgroundImage %}
                        <img src="{{ data.image | media | resize(imgDimensions.w, imgDimensions.h, {mode: 'landscape'}) }}" srcset="{{ data.image | srcset(imgDimensions.w, imgDimensions.h, 'landscape') }}" alt="{{ data.headline }}" />
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
