{% set colClass = 'Flex-col Flex-col50' %}
{% if data.noText or data.noImage %}
    {% set colClass = 'Flex-col' %}
{% endif %}

<div class="Section {{ data | moduleMods('Section', ['accent', 'contrast', 'narrow']) }}">
    <div class="Flex {{ data.reverse ? 'Flex--reverse' : '' }}">
        <div class="Flex-container">
            {% if not data.noText %}
                <div class="{{ colClass }}">
                    {% if block.headline %}
                        <div class="Headline">
                            {{ block.headline | spacer | content }}
                        </div>
                    {% endif %}
                    {% for i in 1..2 %}
                        {% set button = {
                            link: data['buttonLink' ~ i],
                            label: data['buttonLabel' ~ i],
                            contrast: data['buttonContrast' ~ i],
                            outline: data['buttonOutline' ~ i],
                        } %}

                        {% if button.link and button.label %}
                            <a href="{{ button.link | link }}" class="Button {{ button | moduleMods('Button', ['contrast', 'outline']) }}">
                                {{ button.label }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if not data.noImage %}
                <div class="{{ colClass }}">
                    {% if data.noText %}
                        <div class="Headline">
                            {{ block.headline | spacer | content }}
                        </div>
                    {% endif %}
                    {{ data.embed | raw }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
