//@import "./variables.scss";

body, html {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg-base);
    scroll-margin-top: var(--spacing-navbar);
}

body {
    padding-top: var(--spacing-navbar);
}

a {
    color: var(--color-primary);

    &:hover, &:focus, &:active {
        color: var(--color-primary-accent);
    }
}

img {
    max-width: 100%;
    border-radius: var(--border-radius-img);
}

iframe {
    width: 100%;
    height: auto;
    min-height: 400px;
}

.oc-progress-bar {
    z-index: 9999;
}

.Body--transparentNav {
    padding-top: 0;
}

.animate {
    opacity: 0;

    &.isInitialized {
        opacity: 1;
        transform: translateY(0);
    }

    &.Section--noChildren, &.Section--noChildren.isInitialized {
        transform: translateY(70px);
        opacity: 0;
    }

    &.Section--noChildren.isInitialized.isVisible {
        transition: all ease .5s;
        transform: translateY(0);
        opacity: 1;
    }

    .Tiles-tile, .BlogList-item, .Accordion-item, .Gallery-column {
        opacity: 0;
        transform: translateY(70px);
        transition: all ease .5s;

        &.isVisible {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

//#fwc-main-content {
//    transform: translateY(20px);
//    opacity: 0;
//    transition: transform ease .3s, opacity ease .3s;
//
//    &.isLoaded {
//        transform: translateY(0);
//        opacity: 1;
//    }
//}

@import "./Builder.scss";
@import "./Flex.scss";
@import "./Button.scss";
@import "./Headline.scss";
@import "./Content.scss";
@import "./Section.scss";
@import "./Alert.scss";
@import "./Lightbox.scss";

// Components
@import "../navigation/Navigation.scss";
@import "../footer/Footer.scss";
@import "../accordion/Accordion.scss";
@import "../bloglist/BlogList.scss";
@import "../blogpost/BlogPost.scss";
@import "../columns/Columns.scss";
@import "../form/Form.scss";
@import "../header/Header.scss";
@import "../imagestrip/ImageStrip.scss";
@import "../slider/Slider.scss";
@import "../tiles/Tiles.scss";
@import "../menublock/MenuBlock.scss";
@import "../gallery/Gallery.scss";
@import "../downloads/Downloads.scss";
@import "../navigation/Infobar.scss";
