.Builder {
    &-container {
        /* ELEVATED */
        &--elevated {
            .Flex-container {
                box-shadow: var(--shadow-base);
                margin-top: calc(var(--spacing-section) * -2);
                position: relative;
                z-index: 1;
                background-color: var(--color-bg-base);
                padding: 2rem;
                max-width: calc(1200px + 4rem);
            }
        }

        /* SIZES */
        &--narrow {
            .Flex-container {
                max-width: 800px;
            }
        }

        &--full {
            .Flex-container {
                max-width: 100%;

            }

            .Flex-col {
                & > img {
                    width: 100%;
                }
            }
        }

        &--pop {
            margin: 1rem;
            border-radius: var(--border-radius-img);
        }

        /* BACKGROUNDS */
        &--accent {
            background-color: var(--color-accent);
            padding: calc(var(--spacing-section) / 2) 0;
        }

        &--contrast {
            background-color: var(--color-primary);
            padding: calc(var(--spacing-section) / 2) 0;

            .Headline {
                color: var(--color-primary-dark);
            }

            p {
                color: #fff;
            }
        }

        &--image {
            background-size: cover;
            background-position: center;
            padding: calc(var(--spacing-section) / 2) 0;
        }
    }
}
