.Builder {
    &-container {
        /* ELEVATED */
        &--elevated {
            .Flex-container {
                box-shadow: var(--shadow-base);
                margin-top: calc(var(--spacing-section) * -2);
                position: relative;
                z-index: 1;
                background-color: var(--color-bg-base);
                padding: 2rem;
                max-width: calc(1200px + 4rem);
            }
        }

        /* SIZES */
        &--narrow {
            .Flex-container {
                max-width: var(--container-narrow-max-width);
            }
        }

        &--full {
            .Flex-container {
                max-width: 100%;

            }

            .Flex-col {
                & > img {
                    width: 100%;
                }
            }
        }

        /* SPACING */
        &--noSpacing {
            & > .Section {
                margin: 0;
            }
        }

        &--noSpacingTop {
            & > .Section {
                margin: 0 0 calc(var(--spacing-section)) 0;
            }
        }

        &--noSpacingBottom {
            & > .Section {
                margin: calc(var(--spacing-section)) 0 0 0;
            }
        }

        &--narrowSpacing {
            & > .Section {
                margin: calc(var(--spacing-section) / 2) 0;
            }
        }

        /* APPEARANCE */
        &--pop {
            margin: 1rem;
            border-radius: var(--border-radius-img);
        }

        &--centerButtons {
            .Buttons {
                justify-content: center;
            }
        }

        /* BACKGROUNDS */
        &--accent {
            background-color: var(--color-accent);
            padding: calc(var(--spacing-section) / 2) 0;
        }

        &--contrast {
            background-color: var(--color-primary);
            padding: calc(var(--spacing-section) / 2) 0;

            .Headline {
                color: var(--color-primary-dark);
            }

            p {
                color: #fff;
            }
        }

        &--containerContrast {
            --container-width: var(--container-max-width);

            &:is(.Builder-container--narrow) {
                --container-width: var(--container-narrow-max-width);
            }

            & > .Section > .Flex > .Flex-container {
                background-color: var(--color-primary);
                padding: var(--container-padding-with-bg);
                border-radius: var(--border-radius-img);
                max-width: calc(var(--container-width) - var(--container-padding-with-bg));

                .Headline {
                    color: var(--color-primary-dark);
                }

                p {
                    color: #fff;
                }
            }
        }

        &--containerAccent {
            --container-width: var(--container-max-width);

            &:is(.Builder-container--narrow) {
                --container-width: var(--container-narrow-max-width);
            }

            & > .Section > .Flex > .Flex-container {
                background-color: var(--color-accent);
                padding: var(--container-padding-with-bg);
                border-radius: var(--border-radius-img);
                max-width: calc(var(--container-width) - var(--container-padding-with-bg));
            }
        }

        &--containerImage {
            --container-width: var(--container-max-width);

            &:is(.Builder-container--narrow) {
                --container-width: var(--container-narrow-max-width);
            }

            & > .Section > .Flex > .Flex-container {
                background-size: cover;
                background-position: center;
                padding: var(--container-padding-with-bg);
                border-radius: var(--border-radius-img);
                max-width: calc(var(--container-width) - var(--container-padding-with-bg));
            }
        }

        &--image {
            background-size: cover;
            background-position: center;
            padding: calc(var(--spacing-section) / 2) 0;
        }

        &--hideMobile {
            @media (max-width: 768px) {
                display: none !important;
            }
        }

        &--hideTablet {
            @media (min-width: 769px) and (max-width: 991px) {
                display: none !important;
            }
        }

        &--hideDesktop {
            @media (min-width: 992px) {
                display: none !important;
            }
        }

        /* ANIMATIONS */
        &--animate {
            opacity: 0;

            &.isInitialized {
                opacity: 1;
                transform: translateY(0);
            }

            &.Section--noChildren, &.Section--noChildren.isInitialized {
                transform: translateY(70px);
                opacity: 0;
            }

            &.Section--noChildren.isInitialized.isVisible {
                transition: all ease .5s;
                transform: translateY(0);
                opacity: 1;
            }

            .Tiles-tile, .BlogList-item, .Accordion-item, .Gallery-column {
                opacity: 0;
                transform: translateY(70px);
                transition: all ease .5s;

                &.isVisible {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}
