/*
Buttons Wrapper
*/
.Buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.Buttons--center {
    justify-content: center;
}
/*
Buttons Wrapper
*/

.Button {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: var(--color-button-bg-base);
    transition: all ease .3s;
    color: var(--color-text-base);
    font-weight: bold;
    border-radius: var(--border-radius-btn);
    border: 0;

    &:hover, &:focus, &:active {
        background-color: var(--color-button-bg-base-hover);
        color: var(--color-text-base);
    }
}

.Button--contrast {
    background-color: var(--color-button-bg-base);
    color: var(--color-text-contrast);

    &:hover, &:focus, &:active {
        background-color: var(--color-button-bg-base-hover);
        color: var(--color-text-contrast);
    }
}

.Button--outline {
    background-color: transparent;
    color: var(--color-button-bg-base);
    border: 2px solid var(--color-button-bg-base);

    &:hover, &:focus, &:active {
        background-color: var(--color-button-bg-outline-hover);
        border-color: var(--color-button-bg-base-hover);
        color: var(--color-button-bg-base-hover);
    }

    &.Button--inverse {
        background-color: transparent;
        border-color: var(--color-white);
        color: var(--color-white);

        &:hover, &:focus, &:active {
            background-color: var(--color-button-bg-outline-hover-inverse);
            border-color: var(--color-accent);
            color: var(--color-accent);
        }
    }
}

.Button--blurLight, .Button--blurDark {
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 0;
}

.Button--blurLight {
    color: var(--color-black);
    background-color: rgba(255, 255, 255, 0.3);

    &:hover, &:focus, &:active {
        color: var(--color-primary);
        background-color: rgba(255,255,255,0.4);
    }
}

.Button--blurDark {
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.3);

    &:hover, &:focus, &:active {
        background-color: rgba(0, 0, 0, 0.4);
        color: var(--color-primary);
    }
}

.Button--plain {
    background-color: transparent;
    color: var(--color-primary);
    padding: 0;
    gap: .5rem;

    &:hover, &:focus, &:active {
        text-decoration: underline;
        background-color: transparent;
        color: var(--color-primary);
    }
}

.Button--inverse {
    background-color: var(--color-white);
    color: var(--color-primary);

    &:hover, &:focus, &:active {
        background-color: var(--color-accent);
        color: var(--color-primary);
    }
}

.Button--contrast {
    &.Button--blurLight {
        color: var(--color-white);

        &:hover, &:focus, &:active {
            color: var(--color-primary);
        }
    }

    &.Button--blurDark {
        background-color: rgba(0, 0, 0, 0.1);
        color: var(--color-black);

        &:hover, &:focus, &:active {
            background-color: rgba(0, 0, 0, 0.4);
            color: var(--color-primary);
        }
    }

    &.Button--plain {
        color: var(--color-white);

        &:hover, &:focus, &:active {
            text-decoration: underline;
            background-color: transparent;
            color: var(--color-white);
        }
    }

    &.Button--outline {
        border-color: var(--color-white);
        color: var(--color-white);

        &:hover, &:focus, &:active {
            background-color: var(--color-white-transparent);
            border-color: var(--color-accent);
            color: var(--color-white);
        }
    }
}
