.Headline {
    h1 {
        font-size: 2.4rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
    }

    strong {
        color: var(--color-text-primary);
    }

    p {
        line-height: 1.5;
    }
}
