[data-lightbox] {
    cursor: pointer;
}

.Lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: none;

    &.isActive {
        display: block;
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    &-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
        transition: all ease .2s;

        &.isLoading {
            filter: blur(10px) brightness(0.5);
            transform: translate(-50%, -50%) scale(0.9);
        }
    }

    &-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        border: 0;
        background: transparent;

        svg {
            stroke: var(--color-white);
            width: 30px;
            height: 30px;
        }
    }

    &-next, &-prev {
        position: absolute;
        top: 50%;
        right: 10px;
        cursor: pointer;
        border: 0;
        background: transparent;

        svg {
            stroke: var(--color-white);
            width: 30px;
            height: 30px;
        }
    }

    &-prev {
        left: 10px;
        right: auto;
    }

    &-loader {
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--color-white);
        box-shadow: 0 0 0 0 var(--color-white);
        animation: l1 1s infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        &.isActive {
            display: block;
        }

        @keyframes l1 {
            100% {box-shadow: 0 0 0 30px #0000}
        }
    }
}
