{% set startIndex = 1 %}
{% set endIndex = startIndex + 1 %}

{% if start %}
    {% set startIndex = start %}
    {% set endIndex = start + 1 %}
{% endif %}

{% if data['buttonLink' ~ startIndex] or data['buttonLink' ~ endIndex] %}
    <div class="Buttons">
        {% for i in startIndex..endIndex %}
            {% set button = {
                link: data['buttonLink' ~ i],
                label: data['buttonLabel' ~ i],
                contrast: data['buttonContrast' ~ i],
                blank: data['buttonBlank' ~ i],
                icon: data['buttonIcon' ~ i],
            } %}

            {% if button.link and button.label %}
                <a href="{{ button.link | link }}" class="Button {{ button | moduleMods('Button', ['contrast']) }} Button--{{ data['buttonVariant' ~ i] }}" {% if button.blank %}target="_blank"{% endif %}>
                    {% if button.icon %}
                        {{ button.icon | svg | raw }}
                    {% endif %}
                    {{ button.label }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
